# Environment
.env
.env.*

# Python
*.pyc
*.pyo
__pycache__/
*.py[cod]

# Django
db.sqlite3
staticfiles/
media/
*.log

# Virtual environment
venv/
env/
.venv/

# PyCharm
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Coverage/testing
.coverage
htmlcov/

# Migrations (optional — most projects keep these)
# */migrations/

data.json